@page "/"
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Index</PageTitle>

<h1>Cross domain POST request demo</h1>

<form method="POST" action="https://@(Configuration["apiHostName"])/api/resource">
    <input type="submit" value="Send request" />
    <p>A <code>POST</code> request will be sent to <i>https://@(Configuration["apiHostName"])/api/resource</i></p>
</form>
